:root {
	--border-radius: 3px;
	--box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2);
	--spinner-size: 5rem;

	--white: #f9f9f9;
	--yellow: #FFFEBD;
	--gold: #F7CE65;
	--red: #930C10;
	--deep-red: #290000;
	--black: #030303;

	--text-color: #222222;
}

$breakpoint: 760px;
$breakpoint-small: 460px;

* {
	box-sizing: border-box;
}

.app {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flext-start;
	min-height: 100vh;

	&__content {
		padding: 0 1rem;
		margin-bottom: 2rem;
	}

	&:before {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		z-index: -1;
		background-image: url(https://picsum.photos/id/1018/1920/1080?blur=5);
		background-size: cover;
		background-position: center;
		height: 100vh;
		width: 100vw;
		opacity: 0.5;
	}
}

@import "scss/app-header";
@import "scss/app-footer";
@import "scss/npc-options";
@import "scss/npc-card";
@import "scss/pre-footer";
@import "scss/npc-stat";
@import "scss/buttons";
@import "scss/checkbox";

@media(max-width: $breakpoint) {
	.app__content {
		padding: 0 0.5rem;
	}
}