:root {
	--border-radius: 3px;
	--box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2);
	--spinner-size: 5rem;
	--logo-size: 32px;

	--white: #f9f9f9;
	--yellow: #FFFEBD;
	--gold: #F7CE65;
	--red: #930C10;
	--deep-red: #290000;
	--black: #030303;

	--text-color: #222222;
}

$breakpoint: 760px;
$breakpoint-small: 460px;

* {
	box-sizing: border-box;
	font-family: 'Nunito', Arial, Helvetica, sans-serif;
}

.app {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flext-start;
	min-height: 100vh;

	&__content {
		padding: 0 1rem;
		margin-bottom: 2rem;
	}

	&:before {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		z-index: -1;
		background-image: url("./images/roll4d6-bg.webp");
		background-size: cover;
		background-position: center;
		height: 100vh;
		width: 100vw;
		opacity: 0.5;
	}
}

a {
	color: var(--gold);
	text-decoration: none;
	font-weight: 600;
	transition: all 100ms ease;

	&:hover {
		opacity: 0.7;
	}
}

@import "scss/animations";
@import "scss/layouts/layouts";
@import "scss/npc-options";
@import "scss/npc-card";
@import "scss/npc-stat";
@import "scss/elements/elements";

@media(max-width: $breakpoint) {
	.app__content {
		padding: 0 0.5rem;
	}
}