@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes goAway {
	0% {
		opacity: 1;
	}

	95% {
		opacity: 0;
	}

	100% {
		opacity: 0;
		position: absolute;
		visibility: hidden;
	}
}

/*
* Classes below are used for animations
*/

.active {
	opacity: 1;
}

.hidden {
	opacity: 0;
}

.gone {
	display: none !important;
}