.app-header {
	background-color: var(--red);
	color: var(--yellow);
	width: 100%;
	padding: 1.25rem 1rem;
	margin-bottom: 3rem;
	box-shadow: var(--box-shadow);

	&__content {
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 1rem;
	}

	&__title {
		font-size: 1.75rem;
		font-weight: 500;
	}
}

@media(max-width: $breakpoint) {
	.app-header {
		margin-bottom: 2rem;
	}
}