.npc-card {
	display: flex;
	background-color: #f9f9f9;
	flex-wrap: wrap;
	min-height: 526px;
	padding: 1rem;
	border: 2px solid #111;
	border-radius: var(--border-radius);
	max-width: 760px;
	margin: 0 auto 1rem;
	box-shadow: var(--box-shadow);

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding-bottom: 2rem;
	}

	&__name {
		font-size: 2.5rem;
		padding-bottom: 0.5rem;
	}

	&__info {
		display: flex;
	}

	&__sturdiness {
		display: flex;
		justify-content: space-between;
		font-size: 2rem;

		li {
			padding-left: 1.5rem;
			text-align: center;
		}

		span {
			display: block;
			padding-bottom: 0.5rem;
			font-size: 1.25rem;
		}
	}

	&__image {
		width: 50%;
		padding-bottom: 1.5rem;

		img {
			display: inline-block;
			border: 1px solid #111;
			border-radius: var(--border-radius);
			box-shadow: var(--box-shadow);
		}
	}

	&__value {
		font-size: 1.5rem;
		padding-right: 0.5rem;
	}

	&__ability-scores {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin: 0.5rem -0.5rem 2rem;
	}

	&__bio {
		width: 50%;
		// padding: 2rem 1rem 1rem;
		// border-top: 1px solid #222;
	}
}