$transition-speed: 500ms;

.npc-options {
	background-color: var(--white);
	padding: 0rem 1rem;
	border: 2px solid var(--deep-red);
	border-radius: var(--border-radius);
	max-width: 760px;
	margin: 0 auto 1rem;

	&__content {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 0 -0.5rem;
		height: auto;
	}

	&__options {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		flex-wrap: wrap;
		max-height: 170px;
		overflow: hidden;
		transition: all $transition-speed ease;
	}

	&__input {
		flex: 1 1 160px;
		margin: 0.5rem;

		&--buttons {
			display: flex;
			justify-content: flex-end;
			margin-bottom: 0;
		}
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem 0 1rem;
		border-bottom: 1px solid var(--deep-red);
		margin-bottom: 1rem;
		cursor: pointer;
		transition: all $transition-speed ease;

		&:hover {
			margin-left: -1rem;
			margin-right: -1rem;
			padding: 1rem;

			.npc-options__header-icon {
				transform: rotate(-180deg) translateY(-2px);

				path {
					fill: var(--red);
				}
			}
		}
	}

	&__header-title-area {
		display: flex;
		justify-content: flex-start;
		align-items: baseline;
	}

	&__header-title {
		margin: 0;
		color: var(--red);
		font-weight: 600;
		font-size: 1.5rem;
	}

	&__header-subtitle {
		color: var(--red);
		font-size: 1rem;
		border-left: 1px solid var(--deep-red);
		padding-left: 0.5rem;
		margin-left: 0.5rem;
		padding-top: 2px;
		position: relative;
		top: -1px;
	}

	&__header-icon {
		position: relative;
		top: 2px;
		height: 1.5rem;
		width: 1.5rem;
		transform: rotate(-180deg);
		transition: all $transition-speed ease;

		path {
			transition: all $transition-speed ease;
			fill: var(--deep-red);
		}
	}

	&--closed {
		.npc-options {

			&__header:hover {
				.npc-options__header-icon {
					transform: rotate(0deg) translateY(2px);
				}
			}

			&__header-icon {
				transform: rotate(0deg);
			}

			&__options {
				max-height: 0px;
			}

			&__input--buttons {
				background-color: var(--white);
				overflow: hidden;
				margin-top: 0rem;
			}

			&__reset {
				opacity: 0;
				pointer-events: none;
			}
		}
	}
}

@media (max-width: $breakpoint) {
	.npc-options {
		flex-direction: column;

		&__header-subtitle {
			display: none;
		}

		&__options {
			max-height: 300px;
		}

		&__input {
			flex: 1 1 calc(50% - 2rem);
		}
	}
}


@media (max-width: $breakpoint-small) {
	.npc-options {

		&__options {
			max-height: 350px;
		}

		&__input {
			&--buttons {
				flex-direction: column;
				margin-top: 0;
			}

			&:last-of-type {
				flex: 1 1 100%;
			}

		}

		&__reset {
			margin-right: 0;
			transition: margin $transition-speed ease;
		}

		&--closed {
			.npc-options {
				&__input {
					&--buttons {
						flex-direction: column;
						margin-top: inherit
					}
				}

				&__reset {
					display: block;
					margin-bottom: -38px;
					pointer-events: none;
				}
			}
		}
	}
}