.npc-card {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	background-color: #f9f9f9;
	min-height: 592px;
	padding: 1rem;
	border: 2px solid #111;
	border-radius: var(--border-radius);
	max-width: 760px;
	margin: 0 auto 1rem;
	box-shadow: var(--box-shadow);

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding-bottom: 2rem;
	}

	&__name {
		font-size: 2.5rem;
		padding-bottom: 0.5rem;
	}

	&__info {
		display: flex;
	}

	&__sturdiness {
		display: flex;
		justify-content: space-between;
		font-size: 2rem;

		li {
			padding-left: 1.5rem;
			text-align: center;
		}

		span {
			display: block;
			padding-bottom: 0.5rem;
			font-size: 1.25rem;
		}
	}

	&__image {
		width: calc(50% - 3rem);
		padding-bottom: 1.5rem;

		img {
			display: inline-block;
			max-width: 100%;
			// border: 1px solid #111;
			// border-radius: var(--border-radius);
			// box-shadow: var(--box-shadow);
		}
	}

	&__value {
		font-size: 1.5rem;
		padding-right: 0.5rem;
	}

	&__ability-scores {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin: 0.5rem 0 1rem;
	}

	&__bio {
		width: 50%;
	}

	&__attributes {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding-bottom: 2rem;

		li {
			flex: 1 1 auto;
			font-size: 1.5rem;
			line-height: 1.25;
		}

		strong {
			display: block;
			font-size: 1rem;
		}
	}

	&__alignment {
		display: inline-block;
		width: 100%;
		margin: 0;
		padding-bottom: 2rem;
		text-align: center;
		font-size: 1.5rem;
	}
}