.npc-options {
	background-color: var(--white);
	padding: 1rem 1rem 0;
	border: 2px solid var(--deep-red);
	border-radius: var(--border-radius);
	max-width: 760px;
	margin: 0 auto 1rem;

	&__content {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: -0.5rem;
	}

	&__input {
		flex: 1 1 auto;
		margin: 0.5rem;

		&--reset {
			align-self: flex-end;
			text-align: right;
		}
	}

	&__button {
		padding: 0.5rem 1.75rem;
		margin-bottom: 1rem;
		font-weight: 500;
		color: var(--yellow);
		background-color: var(--red);
		border: 3px solid var(--red);
		border-radius: var(--border-radius);
		cursor: pointer;
		transition: all 200ms ease;

		&:hover {
			transform: translateY(2px);
		}
	}

	label {
		display: block;
		color: var(--black);
		color: var(--red);
		font-size: 14px;
		font-weight: 500;
		padding-bottom: 0.25rem;
	}

	select {
		font-size: 16px;
		margin-bottom: 1rem;
		padding: 0.5rem;
		width: 100%;
		color: var(--deep-red);
		cursor: pointer;
	}

	option {
		padding: 0.5rem;
	}
}

@media (max-width: $breakpoint) {
	.npc-options {
		flex-direction: column;

		&__input {
			flex: 1 1 100%;

			&--reset {
				text-align: right;
			}
		}

		&__button {
			font-size: 1.25rem;
		}
	}
}