.npc-stat {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0.5rem;
	color: var(--deep-red);

	&__label {
		font-size: 1.25rem;
		color: var(--red);
	}

	&__score {
		font-size: 2rem;
		padding: 0.5rem 0;
	}

	&__modifier {
		font-size: 1rem;
	}
}