.pre-footer {
	max-width: 760px;
	margin: 0 auto 1rem;
	font-size: 1.25rem;
	line-height: 1.5;
	color: var(--yellow);
	text-shadow: 0px 1px 3px var(--deep-red);

	&__content {
		text-align: center;
		padding: 1rem;
	}

	&__wallets {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		margin: 0.5rem 0 2rem;

		p {
			flex: 0 0 100%;

			span {
				display: block;
				font-size: 0.75rem;
			}
		}

		span {
			flex: 1 1 100%;
			font-size: 1rem;
		}
	}

	&__qr-code {
		max-width: 12rem;
		margin: 0.5rem;
		border-radius: 1rem;
		box-shadow: var(--box-shadow);
		transition: all 200ms ease;
		cursor: pointer;

		&:hover {
			transform: translateY(2px);
		}

	}

	&__cta {

		span {
			display: inline-block;
			font-size: 1.25rem;
			text-shadow: none;
		}
	}
}

@media (max-width: $breakpoint) {
	.pre-footer {
		&__wallets {
			img {
				max-width: 10rem;
			}
		}
	}
}

@media (max-width: $breakpoint-small) {
	.pre-footer {
		&__wallets {
			img {
				max-width: calc(50% - 1rem);
			}
		}
	}
}